* {
  background-color: bisque;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 10px auto;
}

.header {
  color: cornflowerblue;
}
